.form {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.collectionInput input {
  padding: 1rem 0;
  font-size: 1.7rem;
  width: 23rem;
}
.button {
  padding: 0.5rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
}
